In [ ]:
4.#

# DATA STRUCTURES

1. What are data structures, and why are they important?
   - data structures are a way to store data. data is stored in a memory block sequentially . thet are important so that later data can be accessed and manipulated.

2. Explain the difference between mutable and immutable data types with examples?
  - mutable data types we can change the values of the elements by accessing the index.eg: lists,dictionary . in immutable data types data cannot be changed by accessing the elements. eg: tuples

3. What are the main differences between lists and tuples in Python?
  - lists are ordered collection of elements that store heterogenous data and is mutable. tuples also store hetergenous data but they are immutable

4. Describe how dictionaries store data?
  - dictionary stores data in terms of key value pair.

5.  Why might you use a set instead of a list in Python?
  - set is used to access unique elements. list stores elements but the result cannot give unique elemnts. repeated elements are also given the no. of times they have occured.

6. What is a string in Python, and how is it different from a list?
   - string is unit of text where each character is a unit of text . list is an ordered collection of elements that stores heterogenous data and in mutable.

7. How do tuples ensure data integrity in Python?
   - tuples are immutable , hence the value cannot be chaanged . for eg; some exclusive info like atm  card number requires no change , hence tuples are used to store such values .

8. What is a hash table, and how does it relate to dictionaries in Python?
   - has table is used to convert the key into index in an array where the value is stored, and dictionary is implemented using a hash table behind the scenes .

9. Can lists contain different data types in Python?
   - yes list can contain heterogenous data.

10. Explain why strings are immutable in Python?
    - it helps to optimize memory by reusing common strings , else changing the one word would affect all  other elemets sharing the same memory location.

11. What advantages do dictionaries offer over lists for certain tasks?
    - dictionary is the fastest data structure . searching foir an element in the key value pair is the fastest.
  
12. Describe a scenario where using a tuple would be preferable over a list?
   - tuples are immutable hence when we have data like aadar card number or atm card number, we dpnt need to make any changes to our data, in that case tuples are prefferd over lists.

13. How do sets handle duplicate values in Python?
    - duplicate values in sets are printed only one single time, it gives unique set of elements.

14. How does the “in” keyword work differently for lists and dictionaries?
    - the in keyword in sets checks whether a value is present in set or not whereas in dictionary it checks the key .

15. Can you modify the elements of a tuple? Explain why or why not?
    - no , we cannot modify elements of a tuple because a tuple is immutable .

16. What is a nested dictionary, and give an example of its use case?
    - a dictionary stores data in terms of key value pair. used when we need to access the value using keys and not index.

17. Describe the time complexity of accessing elements in a dictionary?
    - dictionary are implemented using hash tables which makes the key based access very efficient.

18. In what situations are lists preferred over dictionaries?
    - list are used when weneed to access elemts using theor position i.e index. and lists are also better for sorting and slicing.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - dictionaries are unordered because elements dont have a fixed index , hence the data is retierved using a key value pair and not index valu.
  
20. Explain the difference between a list and a dictionary in terms of data retrieval?
    - in list data is retireved using index values and in dictionary it is accessed using a keys .

#CODE QUESTIONS:

1.

In [3]:
1. # Write a code to create a string with your name and print it?

name="swastika"
print(name)

swastika

In [7]:
2.# Write a code to find the length of the string "Hello World"?
word_name ="hello world"
len(word_name)

11

In [9]:
3.# Write a code to slice the first 3 characters from the string "Python Programming"?
name="python programming"
name[0:3]

'pyt'

In [10]:
4.#write a code to convert string hello to uppercase.
string="hello"
string.upper()

'HELLO'

In [11]:
5.# Write a code to replace the word "apple" with "orange" in the string "I like apple"
string="I like apple"
string.replace("apple", "orange")

'I like orange'

In [16]:
6.# Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [22]:
from os import listdir
7.# Write a code to append the number 10 to the list [1, 2, 3, 4]?
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [23]:
8.#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [24]:
9 # Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
list=["a","b","c","d"]
list[1]

'b'

In [26]:
10# Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10,20,30,40]
list.reverse()
print(list)

[40, 30, 20, 10]

In [27]:
11#write a code to create a tuple with elemets 100,200,300 and print it
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [28]:
12#D P Write a code to access the second last element of the tuple (bred,green,blue,yellow)
tuple=("red","green","blue","yellow")
tuple[-2]

'blue'

In [31]:
13#. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=("dog","cat","rabbit")
tuple.index("cat")

1

In [32]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple=("apple","mango","kiwi")
"kiwi" in tuple

True

In [33]:
16. #Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={"a","b","c"}
print(set)

{'b', 'a', 'c'}

In [39]:
17.#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1,2,3,4}
set.discard(1,2,3,4)
print(set)

TypeError: set.discard() takes exactly one argument (4 given)

In [38]:
18.#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set={1,2,3,4}
set.remove(3)
print(set)

{1, 2, 4}

In [41]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
set1|set2

{1, 2, 3, 4, 5}

In [42]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1,2,3}
s2={2,3,4}
s1&s2

{2, 3}

In [44]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={"name":"swastika,","age":21,"city":"dehradun"}
print(dict)

{'name': 'swastika,', 'age': 21, 'city': 'dehradun'}

In [45]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict={"name":"john","age":25}
dict["country"]="usa"
print(dict)

{'name': 'john', 'age': 25, 'country': 'usa'}

In [46]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict={"name":"alice","age":30}
dict["name"]

'alice'

In [50]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict={"name":"bob","age":22, "city":"new york"}
del dict["age"]
print(dict)

{'name': 'bob', 'city': 'new york'}

In [51]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict={"name":"alice", "city":"paris"}
"city" in dict

True

In [52]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,3,4]
tuple=(5,6,7,8)
dict={"name":"swastika","age":21}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4]
(5, 6, 7, 8)
{'name': 'swastika', 'age': 21}

In [53]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
list=[10,25,67,34,22]
sorted(list)
print(list)

[10, 25, 67, 34, 22]

In [54]:
#28. Write a code to create a list with strings and print the element at the third index.
list=["aman","ajay","ayush","garvit"]
list[2]

'ayush'

In [56]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1={"name":"swastika","age":22}
dict2={"country":"india", "city":"dehradun"}
result=dict1|dict2
print(result)

{'name': 'swastika', 'age': 22, 'country': 'india', 'city': 'dehradun'}

In [61]:
#30. Write a code to convert a list of strings into a set.
old_list=["apple","bannna","mango","apple"]
new_set=set(old_list)
print(new_set)

TypeError: 'set' object is not callable